body {

  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  
}

.back-sign {
background: linear-gradient(89deg, #2196F3 0%, #03A9F4 50%, #00BCD4 100%);}
